#exchange-container {
	width: 400px;
	padding: 24px;
	margin: 10% auto 25px;
	background: #f7f7f7;
	text-align: center;
	box-shadow: 0px 0px 10px 3px #0000002b;
}

#exchange-container h1 {
	font-size: 25px;
	color: #333544;
	margin-bottom: 20px;
	font-weight: 800;
}

#exchange-container select {
	display: block;
	width: 200px;
	padding: 5px;
	height: 50px;
	margin: 0px auto 25px;
	background: #e2e2e2;
}

#convert-currency {
	    outline: none;
    padding: 10px 15px;
    width: 200px;
    border: none;
    background: #39ad00;
    color: #FFF;
    font-weight: 800;
    border-radius: 3px;
}

#result {
	display: none;
	width: 400px;
    padding: 24px;
    margin: 0px auto 20px;
    background: #f7f7f7;
    text-align: center;
    box-shadow: 0px 0px 10px 3px #0000002b;
}